.nav-link{
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-size: 20px;
}
.navbar-brand{
    color: white;
    font-weight: 600;
    font-style: oblique;
    cursor: pointer;
}
.login{
    font-size: 20px;
    margin: 0;
    padding-right: 5px;
    color: whitesmoke;
}
.nav-link:hover{
    font-weight: 600;
    cursor: pointer;
    border-bottom:1px solid white ;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.856) !important;
    margin-bottom: 40px !important;

}
.active{
    color: white !important;
    font-weight: 600;
    cursor: pointer;
    border-bottom:1px solid white ;
}
.username{
    color: #f44336;
    border: 1px solid  white;
    font-style:italic;
    border: 1px solid white;
    text-decoration: none;
    border-radius: 25px ;
    padding: 10px;
    text-align: center;
}
.username:hover{
    background-color: rgba(179, 183, 187, 0.247);
    color: black !important;
}




/* From Uiverse.io by JulanDeAlb */ 
.hamburger {
  cursor: pointer;
  display: none;
}
@media(max-width:798px){
  .hamburger {
    cursor: pointer;
    display: block;
  }
}
.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}
