<div class="container">
  <div class="row">
    <div class="new-exam mt-5">
      <mat-horizontal-stepper linear #stepper>
        <mat-step label="اسم المادة" [completed]="start()">
          <div class="AddSubject">
            <div>اسم المادة :</div>
            <mat-form-field appearance="fill" color="warn">
              <mat-label>اسم المادة</mat-label>
              <input matInput [formControl]="name" type="text" />
            </mat-form-field>
            <button
              color="warn"
              class="btn btn-danger btnstart"
              mat-raised-button
              matStepperNext
              (click)="OnStartQuiZe()"
            >
              ابدأ
            </button>
          </div>
        </mat-step>
        <mat-step
          label=" اختبار اللغه ({{ namequize | uppercase }})"
          completed="{{anend()}}"
        >
          <div class="question">
            <form [formGroup]="exam">
              <mat-form-field appearance="outline" color="warn" class="queiz">
                <mat-label>السؤال</mat-label>
                <input
                  matInput
                  class="w-100"
                  type="text"
                  formControlName="qution"
                />
              </mat-form-field>

              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <mat-radio-button
                    (change)="ddtailsquize($event)"
                    [value]="Answer1.value"
                    color="warn"
                  ></mat-radio-button>
                  <mat-form-field color="warn">
                    <mat-label>أجابة A</mat-label>
                    <input
                      matInput
                      #Answer1
                      formControlName="qution"
                      formControlName="Answer1"
                      type="text"
                    />
                  </mat-form-field>
                </div>

                <div class="col-md-6 col-sm-12">
                  <mat-radio-button
                    (change)="ddtailsquize($event)"
                    [value]="Answer2.value"
                    color="warn"
                  ></mat-radio-button>
                  <mat-form-field color="warn">
                    <mat-label>أجابة B</mat-label>
                    <input
                      matInput
                      #Answer2
                      formControlName="Answer2"
                      type="text"
                    />
                  </mat-form-field>
                </div>

                <div class="col-md-6 col-sm-12">
                  <mat-radio-button
                    (change)="ddtailsquize($event)"
                    [value]="answer3.value"
                    color="warn"
                  ></mat-radio-button>
                  <mat-form-field color="warn">
                    <mat-label>أجابة C</mat-label>
                    <input
                      matInput
                      #answer3
                      formControlName="Answer3"
                      type="text"
                    />
                  </mat-form-field>
                </div>

                <div class="col-md-6 col-sm-12">
                  <mat-radio-button
                    (change)="ddtailsquize($event)"
                    [value]="answer4.value"
                    color="warn"
                  ></mat-radio-button>
                  <mat-form-field color="warn">
                    <mat-label>أجابة D</mat-label>
                    <input
                      matInput
                      #answer4
                      formControlName="Answer4"
                      type="text"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="questBtn">
                <div>
                  <button
                    mat-raised-button
                    class="btn btn-success"
                    matStepperNext
                    (click)="onsubmit()"
                    [disabled]="!onvew"
                  >
                    {{onvew ? 'عرض':'انتهاء'}}
                  </button>
                  <button
                    mat-raised-button
                    color="warn"
                    matStepperPrevious
                    class="btn btn-danger"
                    (click)="Oncancle()"
                  >
                    الغاء
                  </button>
                </div>
                <div>
                  <button
                    mat-raised-button
                    color="accent"
                    class="btn btn-danger"
                    (click)="ondeletquize()"
                  >
                    حذف
                  </button>
                  <button
                    mat-raised-button
                    color="pramiry"
                    [disabled]="exam.invalid"
                    class="btn Primary"
                    (click)="oncreatqution()"
                  >
                    حفظ
                  </button>
                </div>
              </div>
            </form>
          </div>
        
        </mat-step>
        <mat-step label="عرض الاختبار" >
          <div class="examBox">
            <div class="examhead text-center">
              <h2>اختبار اللغه {{ name.value }}</h2>
            </div>
            <div class="quizBox" *ngFor="let item of quthsions; let index=index">
              <strong><span class="text-danger">{{index+1}}السوال 
              </span>{{item.qution}} </strong>
              <div class="row" dir="rtl">
                <div class="col-sm-12">A. {{item.Answer1}}</div>
                <div class="col-sm-12">B. {{item.Answer2}}</div>
                <div class="col-sm-12">C. {{item.Answer3}}</div>
                <div class="col-sm-12">D. {{item.Answer3}}</div>
                <div class="col-sm-12">
                  <span class="text-success">الاجابة الصحيحة. {{truequize}}</span>
                </div>
              </div>
              <div class="text-right">
                <button mat-raised-button class="btn btn-warning">تعديل</button>
                <button mat-raised-button class="btn btn-danger" (click)="ONdeletdexam(index)">حذف</button>
              </div>
              <hr />
            </div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>




<!-- 
<div *ngFor="let item of quthsions">
     <ul>
      <li>{{item.Answer1}}</li>
     </ul>
</div> -->